<h1>All the experiments</h1>
<%= @experiments.each do |experiment| %>
  <h2><%= experiment.title %></h2>
  <p>Published <%= time_ago_in_words(experiment.created_at) %>
  by
  User # <%= experiment.user_id %></p>
  <p><%= experiment.content %> </p>
<% end %>
